<!DOCTYPE html>
<html>
    <head>
        <title>Main Page</title>

        <script>
            function logout() {
                window.location.href = "/logout"
            }
            function premier_league() {
                window.location.href = "/premier_league"
            }
            function euro_matches() {
                window.location.href = "/euro_matches"
            }
            function bet_games() {
                window.location.href = "/bet_matches"
            }
            function check_bets() {
                window.location.href = "/check_bets"
            }
        </script>
    </head>

    <body>

        <button onclick="premier_league()">
            Premier League 
        </button>
        <button onclick="euro_matches()">
            EURO 2024 
        </button>
        <button onclick="bet_games()">
            Typuj mecze EURO
        </button>
        <button onclick="check_bets()">
            Sprawdź typy
        </button>
        <button onclick="logout()">
            Wyloguj 
        </button>
    </body>
</html>