<!DOCTYPE html>
<html>
    <head>
        <title>Game</title>

        <script>
            function logout() {
                window.location.href = "/logout"
            }
            function premier_league() {
                window.location.href = "/premier_league"
            }
        </script>
    </head>

    <body>

        <button onclick="premier_league()">
            Premier League 
        </button>
        Gówno ehhe
        <button onclick="logout()">
            Wyloguj 
        </button>
    </body>
</html>